<div id="banner_cook" class="cookie-banner">
	<p>Ce site utilise des cookies pour améliorer votre expérience. En continuant, vous acceptez notre
		<a href="">politique de cookies</a>.</p>
	<button class="btn" id="accepter-cookie">J'accepte
		<i class="fa-solid fa-check"></i>
	</button>
</div>
<script src="{{ asset('cookie.js') }}"></script>
