<div id="banner_cook" class="cookie-banner">
	<p>Ce site utilise des cookies pour optimiser la fonctionnalité du site et vous offrir la meilleure expérience possible..</p>
	<button class="btn" id="accepter-cookie">ok</button>
</div>
<script src="{{ asset('cookie.js') }}"></script>
