




<button class="btn" id="btn-font-more"><i class="fa-solid fa-magnifying-glass-plus"></i></button>
<button class="btn" id="btn-font-reset"><i class="fa-solid fa-rotate-right"></i></button>
<button class="btn" id="btn-font-less"><i class="fa-solid fa-magnifying-glass-minus"></i></button>
<script src="{{ asset('font_size.js') }}"></script>
