




<button aria-label="Augmenter la taille de la police" class="btn" id="btn-font-more"><i class="fa-solid fa-magnifying-glass-plus"></i></button>
<button aria-label="Réinitialiser la taille de la police" class="btn" id="btn-font-reset"><i class="fa-solid fa-rotate-right"></i></button>
<button aria-label="Reduire la taille de la police" class="btn" id="btn-font-less"><i class="fa-solid fa-magnifying-glass-minus"></i></button>
<script src="{{ asset('font_size.js') }}"></script>
