<footer>
<img src="{{ asset('img/logo/Notes-Code.png') }}" alt="logo Notes Code">
<p><a href="{{ path('app_home') }}"></a>note-code.fr</p>
<a href="https://github.com/MrKarr1"><i class="fa-brands fa-github"></i></a>
</footer>
