<footer>
	<div class="left">
		<img src="{{ asset('img/logo/Notes-Code.png') }}" alt="logo Notes Code">
		<p>
			<a href="{{ path('app_home') }}">note-code.fr</a>
		</p>
		<a href="https://github.com/MrKarr1">
			<i class="fa-brands fa-github"></i>
		</a>
	</div>
	<div class="right">
		<p>
			<a href="">les Mentions Légales</a>
		</p>
		<p>
			<a href="">Contact</a>
		</p>
		<p>&copy; Maxime notes-code</p>
	</div>

</footer>
