{% extends 'base.html.twig' %}

{% block title %}Notes-Code
{% endblock %}

{% block body %}
<div class="div-btn-mod">
{{ include('include/mod.html.twig') }}
</div>
	<main class="mention">
		<acticle class="mentions">
			<a href="{{path('app_home')}}"><img src="{{ asset('img/logo/Notes-Code.png') }}" alt="logo Notes Code"></a>

			<h3>Mentions Légales</h3>

			<h4>1. Éditeur du site</h4>

			<p>Le site Note-Code.fr est édité par :note-code : Maxime</p>
			<p>
				Adresse : Le Mans</p>
			<p>
				Email : notes-code@outlook.com</p>
			<p>Numéro de SIRET : 00000000000000</p>
			<p>
				Directeur de la publication : Maxime</p>

			<h4>2. Hébergement</h4>

			<p>Le site est hébergé par : Moi</p>
			<p>
				Adresse : France</p>
			<p>
				Téléphone : 00 00 00 00 00</p>
			<p>
				Site web : URL</p>

			<h4>3. Propriété intellectuelle</h4>

			<p>L'ensemble du contenu présent sur le site Note-Code.fr (textes, images, graphismes, logo, etc.) est protégé par le droit d'auteur. Toute reproduction, distribution ou utilisation sans autorisation expresse est interdite.</p>

			<h4>4. Données personnelles</h4>
			<p>Le site Note-Code.fr peut collecter certaines données personnelles des utilisateurs (ex : email, pseudonyme) dans le cadre de la création de compte ou de la gestion des notes. Ces données sont utilisées uniquement pour le bon fonctionnement du service et ne sont pas partagées avec des tiers sans consentement.</p>

			<p>Conformément au Règlement Général sur la Protection des Données (RGPD), vous disposez d'un droit d'accès, de rectification et de suppression de vos données. Pour exercer ces droits, vous pouvez contacter : [Votre email ou formulaire de contact].</p>

			<h4>5. Cookies</h4>

			<p>Le site Note-Code.fr utilise des cookies pour améliorer l'expérience utilisateur. Vous pouvez configurer votre navigateur pour refuser ces cookies.</p>

			<h4>6. Responsabilité</h4>

			<p>L'éditeur du site ne saurait être tenu responsable en cas de dysfonctionnement, interruption ou erreurs du site.</p>

			<h4>7. Contact</h4>

			<p>Pour toute question, vous pouvez nous contacter à :</p>
            <p>notes-code@outlook.com</p>

		</article>
	</main>
{% endblock %}
