@charset "UTF-8";
:root {
  --fond-principal: #010c1b;
  --fond-des-cartes: #1a2430;
  --texte-principal: #E0E0E0;
  --texte-secondaire: #B0B0B0;
  --color-bouton: #0056b3;
  --color-hover-bouton: #007BFF;
  --color-text-bouton: #ffffff;
}

.light {
  --fond-principal: #e0e0e0;
  --fond-des-cartes: #d6d6d6;
  --texte-principal: #1a1a1a;
  --texte-secondaire: #3d3d3d;
  --color-bouton: #0056b3;
  --color-hover-bouton: #003f80;
  --color-text-bouton: #e0e0e0;
  animation-name: appearance_centre;
  Animation-duration: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--fond-principal);
  color: var(--texte-principal);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#note-language,
#note-code,
#note-id,
#div_folder,
#div_note,
#admin_note {
  display: none;
  animation-name: appearance_centre;
  Animation-duration: 0.5s;
}

#div_favori,
.note-table {
  animation-name: appearance_centre;
  Animation-duration: 0.5s;
}

a {
  text-decoration: none;
  color: var(--texte-principal);
}

.btn {
  margin: 1vh;
  padding: 0.8vh;
  border: none;
  border-radius: 5px;
  background-color: var(--color-bouton);
  color: var(--color-text-bouton);
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.btn:hover {
  background-color: var(--color-hover-bouton);
}
.btn a {
  color: var(--color-text-bouton);
}

.icone {
  margin: 5px;
  padding: 5px;
}

.img-account {
  max-width: 10vh;
}
.img-account img {
  width: auto;
  height: auto;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}
.img-account img:hover {
  border: 1px solid var(--fond-des-cartes);
}

.flex-message {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}
.flex-message .flashes-message {
  background-color: var(--fond-principal);
  max-width: 50%;
  padding: 1vh;
  border-radius: 10px;
  min-height: max-content;
}

.margin-left {
  margin-left: 15vh;
}

.cookie-banner {
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--fond-des-cartes);
  color: var(--texte-principal);
  text-align: center;
  padding: 10px;
  font-size: 14px;
  animation-name: appearance_centre;
  Animation-duration: 0.5s;
}

.cookie-none {
  display: none;
}

.logo-hover-div {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  transform-origin: center center;
}
.logo-hover-div:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Scrollbar*/
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

html::-webkit-scrollbar-track {
  background: var(--fond-principal);
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb {
  background: var(--color-bouton);
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
  background: var(--color-hover-bouton);
}

/*  pour Firefox */
html,
.scroll-container {
  scrollbar-color: var(--color-bouton) var(--fond-principal);
  scrollbar-width: thin;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 10px;
  margin-top: 10%;
}
.home .info,
.home .action,
.home .research-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--fond-des-cartes);
  gap: 8vh;
  padding: 1vh;
  border-radius: 1vh;
  max-height: 50vh;
  max-width: 50vh;
  min-height: 50vh;
  min-width: 50vh;
}
.home .info p,
.home .action p,
.home .research-note p {
  opacity: 25%;
}
.home .info img,
.home .action img,
.home .research-note img {
  max-height: 100px;
  border-radius: 10px;
}
.home .info {
  animation-name: appearance_left;
  Animation-duration: 2s;
}
.home .action {
  height: 50vh;
  width: 50vh;
  animation-name: appearance_centre;
  Animation-duration: 2s;
}
.home .action .btn {
  padding: 1ch;
}
.home .research-note {
  margin: 1vh;
  animation-name: appearance_centre;
  Animation-duration: 3s;
}
.home .research-note .btn {
  padding: 1ch;
}

.div-btn-mod {
  animation-name: appearance_centre;
  Animation-duration: 0.5s;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.login,
.register,
.edit-user,
.mention {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1vh;
  margin-top: 10%;
  animation-name: appearance_centre;
  Animation-duration: 0.5s;
}
.login .logins,
.login .registers,
.login .edits-users,
.login .mentions,
.register .logins,
.register .registers,
.register .edits-users,
.register .mentions,
.edit-user .logins,
.edit-user .registers,
.edit-user .edits-users,
.edit-user .mentions,
.mention .logins,
.mention .registers,
.mention .edits-users,
.mention .mentions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1vh;
  padding: 1vh;
  padding-top: 5vh;
  border-radius: 1vh;
  background-color: var(--fond-des-cartes);
  width: 50vh;
}
.login .logins img,
.login .registers img,
.login .edits-users img,
.login .mentions img,
.register .logins img,
.register .registers img,
.register .edits-users img,
.register .mentions img,
.edit-user .logins img,
.edit-user .registers img,
.edit-user .edits-users img,
.edit-user .mentions img,
.mention .logins img,
.mention .registers img,
.mention .edits-users img,
.mention .mentions img {
  max-height: 10vh;
  border-radius: 1vh;
}
.login .logins form,
.login .registers form,
.login .edits-users form,
.login .mentions form,
.register .logins form,
.register .registers form,
.register .edits-users form,
.register .mentions form,
.edit-user .logins form,
.edit-user .registers form,
.edit-user .edits-users form,
.edit-user .mentions form,
.mention .logins form,
.mention .registers form,
.mention .edits-users form,
.mention .mentions form {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  gap: 2vh;
}
.login .logins form input,
.login .logins form textarea,
.login .registers form input,
.login .registers form textarea,
.login .edits-users form input,
.login .edits-users form textarea,
.login .mentions form input,
.login .mentions form textarea,
.register .logins form input,
.register .logins form textarea,
.register .registers form input,
.register .registers form textarea,
.register .edits-users form input,
.register .edits-users form textarea,
.register .mentions form input,
.register .mentions form textarea,
.edit-user .logins form input,
.edit-user .logins form textarea,
.edit-user .registers form input,
.edit-user .registers form textarea,
.edit-user .edits-users form input,
.edit-user .edits-users form textarea,
.edit-user .mentions form input,
.edit-user .mentions form textarea,
.mention .logins form input,
.mention .logins form textarea,
.mention .registers form input,
.mention .registers form textarea,
.mention .edits-users form input,
.mention .edits-users form textarea,
.mention .mentions form input,
.mention .mentions form textarea {
  padding: 1vh;
  border-radius: 0.5vh;
  border: none;
  background-color: var(--fond-principal);
  color: var(--texte-principal);
}
.login .logins form textarea,
.login .registers form textarea,
.login .edits-users form textarea,
.login .mentions form textarea,
.register .logins form textarea,
.register .registers form textarea,
.register .edits-users form textarea,
.register .mentions form textarea,
.edit-user .logins form textarea,
.edit-user .registers form textarea,
.edit-user .edits-users form textarea,
.edit-user .mentions form textarea,
.mention .logins form textarea,
.mention .registers form textarea,
.mention .edits-users form textarea,
.mention .mentions form textarea {
  min-height: 25vh;
  min-width: 45vh;
}
.login .logins form .div-password,
.login .registers form .div-password,
.login .edits-users form .div-password,
.login .mentions form .div-password,
.register .logins form .div-password,
.register .registers form .div-password,
.register .edits-users form .div-password,
.register .mentions form .div-password,
.edit-user .logins form .div-password,
.edit-user .registers form .div-password,
.edit-user .edits-users form .div-password,
.edit-user .mentions form .div-password,
.mention .logins form .div-password,
.mention .registers form .div-password,
.mention .edits-users form .div-password,
.mention .mentions form .div-password {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  max-width: 100%;
}
.login .logins form .div-password li,
.login .registers form .div-password li,
.login .edits-users form .div-password li,
.login .mentions form .div-password li,
.register .logins form .div-password li,
.register .registers form .div-password li,
.register .edits-users form .div-password li,
.register .mentions form .div-password li,
.edit-user .logins form .div-password li,
.edit-user .registers form .div-password li,
.edit-user .edits-users form .div-password li,
.edit-user .mentions form .div-password li,
.mention .logins form .div-password li,
.mention .registers form .div-password li,
.mention .edits-users form .div-password li,
.mention .mentions form .div-password li {
  list-style: disc;
  margin-left: 1.5rem;
}

.mention {
  margin-top: 1vh;
}
.mention .mentions {
  display: block;
}
.mention .mentions h3,
.mention .mentions h4,
.mention .mentions p {
  margin-bottom: 1vh;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.btn-table {
  display: flex;
  justify-self: start;
  background-color: var(--fond-principal);
  border-radius: 10px 10px 0px 0px;
}

.note-table {
  max-height: 75vh;
  overflow-y: scroll;
}
.note-table p {
  text-align: center;
}
.note-table .nav-table {
  font-size: 13px;
}
.note-table table {
  text-align: center;
}
.note-table table thead {
  background-color: var(--fond-des-cartes);
}
.note-table table a:hover {
  color: var(--color-hover-bouton);
}
.note-table table .none {
  display: none;
  contain: content;
}
.note-table table td {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  border: 1px solid var(--fond-des-cartes);
}
.note-table table td.action-td {
  display: flex;
  gap: 5px;
}
.note-table .favori,
.note-table .folder,
.note-table .note,
.note-table .tag,
.note-table .langage,
.note-table .contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: var(--fond-principal);
  border-radius: 0px 10px 10px 10px;
  padding: 10px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.account {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1vh;
  animation-name: appearance_centre;
  Animation-duration: 0.5s;
}

.accounts {
  min-width: 85%;
  max-width: 85%;
  padding: 10px;
  background-color: var(--fond-des-cartes);
  border-radius: 10px;
}
.accounts .user-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.accounts .user-account .users-account {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.accounts .user-account .users-account .btn-account {
  display: flex;
  flex-direction: column;
}
.accounts .user-account .users-account .user-info-account {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.accounts .action {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: first baseline;
}
.accounts .action .div-action {
  flex-wrap: wrap;
  padding-right: 25%;
}

.div-research {
  position: relative;
  margin-bottom: 1vh;
}
.div-research input[type=text] {
  display: block;
  width: 200px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: var(--fond-principal);
  color: var(--texte-principal);
}
.div-research .icone {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--texte-principal);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.carte {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 5vh;
  animation-name: appearance_centre;
  Animation-duration: 0.5s;
}
.carte .img-carte {
  text-align: center;
}

#carte-contact {
  margin-left: 5vh;
}

.show-note,
.edit-note,
.add-note {
  display: flex;
  flex-direction: column;
  background-color: var(--fond-des-cartes);
  border-radius: 10px;
  min-width: 100%;
  margin: 1vh;
}
.show-note .user-EAS,
.edit-note .user-EAS,
.add-note .user-EAS {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.show-note .btn-EAS,
.edit-note .btn-EAS,
.add-note .btn-EAS {
  display: flex;
  justify-content: start;
  align-items: center;
}
.show-note .EAS-code-des,
.edit-note .EAS-code-des,
.add-note .EAS-code-des {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.show-note .EAS-code-des .div-note,
.edit-note .EAS-code-des .div-note,
.add-note .EAS-code-des .div-note {
  display: flex;
  flex-direction: column;
}
.show-note .monaco-editor,
.edit-note .monaco-editor,
.add-note .monaco-editor {
  margin-bottom: 3vh;
  min-height: 70vh;
  min-width: 100%;
  border: 1px solid #047cd4;
  background-color: #1f1f1e;
  color: var(--texte-principal);
}

.div-img-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2vh;
}
.div-img-description .div-img,
.div-img-description .div-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.div-img-description .div-img .description-note,
.div-img-description .div-description .description-note {
  background-color: var(--fond-principal);
  border-radius: 10px;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  min-width: 100%;
}

.img-note {
  max-height: 100vh;
  max-width: max-content;
}

.edit-note form,
.add-note form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.edit-note form .description,
.add-note form .description {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 1vh;
  width: 100%;
  height: 30vh;
  background-color: var(--fond-principal);
  color: var(--texte-principal);
  padding: 5px;
}
.edit-note form .flex-button,
.add-note form .flex-button {
  align-items: start;
  justify-content: center;
  flex-direction: row;
  gap: 2vh;
}
.edit-note form input,
.add-note form input {
  padding: 1vh;
  border-radius: 0.5vh;
  border: none;
  background-color: var(--fond-principal);
  color: var(--texte-principal);
  gap: 1vh;
}
.edit-note form select,
.add-note form select {
  background-color: var(--fond-des-cartes);
  color: var(--texte-principal);
  min-width: 10vh;
  padding: 1vh;
  font-size: large;
  border: none;
  border-radius: 0.5vh;
  gap: 1vh;
}
.edit-note form .flex,
.add-note form .flex {
  display: flex;
  align-items: center;
  gap: 20vh;
}
.edit-note form .flex .right-note,
.edit-note form .flex .left-note,
.add-note form .flex .right-note,
.add-note form .flex .left-note {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vh;
  background-color: var(--fond-principal);
  padding: 1vh;
  border-radius: 1vh;
}
.edit-note form .flex .right-note label,
.edit-note form .flex .left-note label,
.add-note form .flex .right-note label,
.add-note form .flex .left-note label {
  display: flex;
  margin-bottom: 0.5vh;
}
.edit-note form .flex .checkbox-favorie,
.add-note form .flex .checkbox-favorie {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-note form .flex .checkbox-favorie label,
.add-note form .flex .checkbox-favorie label {
  display: flex;
  margin-bottom: 15px;
}
.edit-note form .flex .checkbox-favorie input[type=checkbox],
.add-note form .flex .checkbox-favorie input[type=checkbox] {
  margin-top: 5px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--fond-principal);
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.edit-note form .flex .checkbox-favorie input[type=checkbox]:checked,
.add-note form .flex .checkbox-favorie input[type=checkbox]:checked {
  background-color: var(--fond-des-cartes);
}
.edit-note form .flex .checkbox-favorie input[type=checkbox]::before,
.add-note form .flex .checkbox-favorie input[type=checkbox]::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
}
.edit-note form .flex .checkbox-favorie input[type=checkbox]:checked::before,
.add-note form .flex .checkbox-favorie input[type=checkbox]:checked::before {
  content: "✔";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  color: var(--color-text-bouton);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.manage-tag,
.manage-langage,
.manage-folder,
.manage-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1vh 10vh 1vh 10vh;
  background-color: var(--fond-des-cartes);
  border-radius: 10px;
  margin-bottom: 15vh;
}
.manage-tag h1,
.manage-langage h1,
.manage-folder h1,
.manage-contact h1 {
  margin-bottom: 2vh;
}
.manage-tag img,
.manage-langage img,
.manage-folder img,
.manage-contact img {
  max-height: 15vh;
  border-radius: 10px;
}
.manage-tag img:hover,
.manage-langage img:hover,
.manage-folder img:hover,
.manage-contact img:hover {
  border: 1px solid var(--fond-des-cartes);
}
.manage-tag form,
.manage-langage form,
.manage-folder form,
.manage-contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.manage-tag form div,
.manage-langage form div,
.manage-folder form div,
.manage-contact form div {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.manage-tag form .flex-button,
.manage-langage form .flex-button,
.manage-folder form .flex-button,
.manage-contact form .flex-button {
  align-items: start;
  justify-content: center;
  flex-direction: row;
  gap: 2vh;
}
.manage-tag form input,
.manage-langage form input,
.manage-folder form input,
.manage-contact form input {
  max-width: 30vh;
  padding: 1vh;
  border-radius: 5px;
  border: none;
  background-color: var(--fond-principal);
  color: var(--texte-principal);
}
.manage-tag form textarea,
.manage-langage form textarea,
.manage-folder form textarea,
.manage-contact form textarea {
  min-width: 50vh;
  min-height: 25vh;
  max-width: 50vh;
  max-height: 25vh;
  padding: 1vh;
  border-radius: 5px;
  border: none;
  background-color: var(--fond-principal);
  color: var(--texte-principal);
}
.manage-tag .tag-add,
.manage-tag .langage-add,
.manage-tag .folder-add,
.manage-tag .contact-add,
.manage-langage .tag-add,
.manage-langage .langage-add,
.manage-langage .folder-add,
.manage-langage .contact-add,
.manage-folder .tag-add,
.manage-folder .langage-add,
.manage-folder .folder-add,
.manage-folder .contact-add,
.manage-contact .tag-add,
.manage-contact .langage-add,
.manage-contact .folder-add,
.manage-contact .contact-add {
  border-radius: 10px 10px 10px 10px;
}
.manage-tag .message-hidden,
.manage-langage .message-hidden,
.manage-folder .message-hidden,
.manage-contact .message-hidden {
  display: none;
}
.manage-tag .div-delete-message,
.manage-langage .div-delete-message,
.manage-folder .div-delete-message,
.manage-contact .div-delete-message {
  display: flex;
  justify-content: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
header {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 100;
  padding: 1px;
  background-color: var(--fond-des-cartes);
  animation-name: appearance_left;
  Animation-duration: 0.5s;
}
header #btn-nav-none {
  margin: 0;
}
header .menu {
  display: flex;
  justify-content: center;
}
header .nav-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 50%;
}
header .nav-user p {
  margin-right: 1vh;
}
header .nav-user img {
  max-height: 5vh max-content;
}
header .nav-user img:hover {
  border: 1px solid var(--fond-des-cartes);
}
header .nav-note {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 25vh;
  gap: 5px;
  margin: 10px 0px 10px 0px;
}
header .div-research input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--fond-principal);
  color: var(--texte-principal);
}
header .note-table td {
  padding: 2px;
}
header .note-table .favori,
header .note-table .folder,
header .note-table .note {
  border-radius: 0px 0px 0px 0px;
}
header .action-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--fond-des-cartes);
  color: var(--texte-secondaire);
  padding: 10px;
  margin-top: 40vh;
}
footer a:hover {
  color: var(--color-hover-bouton);
}
footer .left-footer,
footer .right-footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .left-footer {
  align-items: flex-start;
  text-align: left;
}
footer .right-footer {
  align-items: flex-end;
  text-align: right;
}
footer img {
  max-height: 5vh;
  border-radius: 20%;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (min-width: 1500px) {
  .right-note,
  .left-note {
    flex-direction: row;
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (min-width: 1200px) {
  .nav_menu {
    display: block;
  }
  .margin-left {
    margin-left: 30vh;
  }
  .carte {
    margin-left: 30vh;
  }
  .monaco-editor {
    max-width: 110vh;
  }
  .description {
    max-width: 110vh;
    height: 30vh;
  }
  .right-note,
  .left-note {
    flex-direction: column;
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 1024px) {
  .margin-left {
    margin-left: 0vh;
  }
  .nav_menu {
    display: none;
  }
  .carte {
    margin-left: 5vh;
  }
  .monaco-editor {
    max-width: 65vh;
  }
  .description {
    max-width: 85vh;
    height: 30vh;
  }
  .flex {
    flex-direction: column;
  }
  .flex .right-note,
  .flex .left-note {
    flex-direction: column;
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 900px) {
  .margin-left {
    margin-left: 0vh;
  }
  .nav_menu {
    display: none;
  }
  .carte {
    margin-left: 0vh;
    margin-right: 0vh;
  }
  .monaco-editor {
    max-width: 65vh;
  }
  .description {
    max-width: 65vh;
    height: 30vh;
  }
  .right-note,
  .left-note {
    flex-direction: column;
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 760px) {
  .home {
    justify-content: center;
  }
  .margin-left {
    margin-left: 0vh;
  }
  .nav_menu {
    display: none;
  }
  .carte {
    margin-left: 0vh;
    margin-right: 0vh;
  }
  .monaco-editor {
    max-width: 45vh;
  }
  .img-note {
    max-height: 50vh;
  }
  .description {
    max-width: 45vh;
    height: 30vh;
  }
  .edit-note form .flex,
  .add-note form .flex {
    flex-direction: column;
    gap: 10px;
  }
  .edit-note form .flex .right-note,
  .edit-note form .flex .left-note,
  .add-note form .flex .right-note,
  .add-note form .flex .left-note {
    flex-direction: column;
  }
  .media-hidden {
    display: none;
  }
  .media-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .note-table table td {
    padding: 2px;
  }
  .manage-contact form textarea {
    min-width: 40vh;
    min-height: 35vh;
    max-width: 40vh;
    max-height: 35vh;
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@keyframes appearance_left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appearance_centre {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearance_right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*# sourceMappingURL=app.css.map */
