<form method="post" action="{{ path('app_note_delete', {'id': note.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer {{note.name}} ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.id) }}">
	<button aria-label="Supprimerla note {{note.name}}" class="btn icone"><i class="fa-solid fa-trash"></i></button>
</form>
