{% extends 'base.html.twig' %}
{% set nav = true %}
{% block title %}Edit Tag{% endblock %}

{% block body %}
    <h1>Edit Tag</h1>

    {{ include('tag/_form.html.twig', {'button_label': 'Update'}) }}

    <button class="btn" ><a href="{{ path('app_account') }}">Retour</a></button>

    {{ include('tag/_delete_form.html.twig') }}
{% endblock %}
